filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/*.log

setup.template.settings:
  index.number_of_shards: 1

output.elasticsearch:
  hosts: ["{{ elastic_ip }}:9200"]
  username: "elastic"
  password: "{{ elastic_password }}"

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
